<h1 style="font-family:andalemono;font-size:300%;"><a name="about">more about molly</a></h1>
	<p style="font-family:andalemono;font-size:200%;"> 
		hails from New York <br>
		senior at Rice University <br>
		computer science major <br>
		involved in design projects <br>
		forging a career as a product manager / software engineer <br>
		<br>
		<br>
		in her spare time, molly enjoys:
		<span>
			<ul style="font-family:andalemono;font-size:150%;list-style-type:square">
				<li>curating music playlists</li>
				<li>collecting postcards from art museums</li>
				<li>finding the best desserts in her area</li>
				<li>reading feminist think pieces</li>
			</ul>
		</span>
	</p>