<h1 style="font-family:andalemono;font-size:300%;"><a name="projects">more projects</a></h1>
<p style="font-family:andalemono;font-size:200%;"> 
	design for america
	<ul style="font-family:andalemono;font-size:100%;list-style-type:square">
		<li><span style="font-family:andalemono;font-size:150%;"><b>Studio Lead:</b></span> </li>
			<ul style="font-family:andalemono;font-size:100%;list-style-type:square">
				<li>Manage the studio of 30+ students and 5+ teams</li>
				<li>Handle the studio funds</li>
				<li>Organize community-wide events</li>
				<li>Research potential problem scopes</li>
				<li>Build relationships with community partners and mentors</li>
			</ul>
		<br>
		<li><span style="font-family:andalemono;font-size:150%;"><b>I Do Not Waste Food:</b></span> Minimized food waste at the Rice University dining halls through a positive reinforcement sticker campaign.</li><br>

		<li><span style="font-family:andalemono;font-size:150%;"><b>DFA x Coffeehouse:</b></span> Increased creative, social interactions between customers at Rice Coffeehouse through a Non-Object Exchange event and interactive installation.</li><br>

		<li><span style="font-family:andalemono;font-size:150%;"><b>Family Food Security:</b></span> Helped families with limited access to food in partnership with Brighter Bites, the Houston Food Bank, and Hormel Foods.  Designed and built an interactive pairing card to encourage shoppers to choose healthy, seasonal ingredients.   Presented our final prototype to Hormel Foods and DFA National at the Hormel Foods Headquarters.  Our prototype will be represented at the Expo for Design, Innovation, and Technology this fall.</li><br>
		
		<!-- <br>
		<li>role: team member
			<ul style="font-family:andalemono;font-size:75%;list-style-type:square">
				<li>Collaborate with multi-disciplinary design teams to create solutions to local problems that garner social impact</li>
				<li>Follow the DFA human-centered design process: research, brainstorm, prototype, test, and iterate with the user in mind</li>
			</ul>
		</li>
		<br>
		<li>past projects
			<ul style="font-family:andalemono;font-size:75%;list-style-type:square">
				<li><b>I Do Not Waste Food:</b> Minimized food waste at the Rice University dining halls through a positive reinforcement sticker campaign.</li>
				<li><b>DFA x Coffeehouse:</b> Increased creative, social interactions between customers at Rice Coffeehouse through a Non-Object Exchange event and interactive installation.</li>
				<li><b>Family Food Security:</b> Helped families with limited access to food in partnership with Brighter Bites, the Houston Food Bank, and Hormel Foods.  Designed and built an interactive pairing card to encourage shoppers to choose healthy, seasonal ingredients.   Presented our final prototype to Hormel Foods and DFA National at the Hormel Foods Headquarters.  Our prototype will be represented at the Expo for Design, Innovation, and Technology this fall.</li>
			</ul>
		</li> -->
	</ul>
	
</p>
<p style="font-family:andalemono;font-size:200%;"> 
	no pane, no gain
	<ul style="font-family:andalemono;font-size:100%;list-style-type:square">
		<li>Collaborated with an international non-profit, Project Schoolhouse, and a multi-disciplinary engineering team to design and develop an industrial-grade sustainable window for educational institutions in rural Nicaragua.</li>
		<li>Raised over $18,000 to organize a service trip to Nicaragua to monitor and evaluate our project and gather community requirements for a next generation low cost product.</li>
		<li>Partnered with the Foundation for Sustainable Development in Las Salinas, Nicaragua to improve water purity at a local well and improve access to clean, potable water at a health clinic.</li>
		<li>Honors and Awards: Rice Engineering Alumni Award, Shell Center for Sustainability Grant Award, Rice Center for Engineering Leadership Award.</li>
	</ul>
</p>
