<h1 style="font-family:andalemono;font-size:300%;"><a name="work">work done by molly</a></h1>
	<p style="font-family:andalemono;font-size:200%;"> 
		<table class="boo">
			
			<tr class="boo" style="font-family:andalemono;font-size:200%;">
				<td class="boo">
					program manager
					<span style="font-family:andalemono;font-size:50%;">
						<ul style="list-style-type:square">
						  <li>Device Platform > Silicon Graphics & Multimedia > Core OS & Intelligent Edge</li>
						  <li>C#, XAML, .NET Core</li>
						  <li>Driving hardware validation test efforts</li>
						  <li></li>
						</ul>
					 <br> 
					</span>
				</td>
				<td class="boo">
					@ <b>microsoft</b>
				</td>
			</tr>
			
			<tr class="boo" style="font-family:andalemono;font-size:200%;">
				<td class="boo">
					software engineering intern
					<span style="font-family:andalemono;font-size:50%;">
						<ul style="list-style-type:square">
						  <li>Evernote Business Team</li>
						  <li>Java, ReactJs, CSS, HTML</li>
						  <li>Developed the onboarding experience for new EB administrators and users</li>
						  <li>Product manager and developer for the Multi-Authentication and Account Switching feature on web</li>
						  <li>(This feature allows EB users to sign-in a second personal account and seamlessly switch between accounts to access all of their content)</li>
						  <li>Determined the product requirements and scope of this feature, wrote the feature epic and user stories, and organized the backlog of feature tickets so this product can be continued by future developers</li>
						  <li>Organized mentoring events for the Girls Who Code field trip to Evernote</li>
						</ul>
					 <br> 
					</span>
				</td>
				<td class="boo">
					@ <b>evernote</b>
				</td>
			</tr>
			
			<tr class="boo" style="font-family:andalemono;font-size:200%;">
				<td class="boo">
					summer technology analyst
					<span style="font-family:andalemono;font-size:50%;">
						<ul style="list-style-type:square">
						  <li>Member of the Investments IT+ Team</li>
						  <li>C#, JavaScript, HTML</li>
						  <li>Visual Studio, ASP.NET</li>
						  <li>Developed the design and architecture of the Titan Treasury Report System web application</li>
						  <li>Converted the web application into a parallel program to access the database of foreign exchange rate information asynchronously</li>
						  <li>Product manager for the future administrative section of Titan</li>
						  <li>Planned timeline, contacted Treasury representatives to determine specs, and wrote user stories for this feature</li>
						  <li>Served as a mentor for the Girls Who Code summer program hosted at the AIG office.</li>
						</ul>
					 <br> 
					</span>
				</td>
				<td class="boo">
					@ <b>aig</b>
				</td>
			</tr>
			<tr class="boo" style="font-family:andalemono;font-size:200%;">
				<td class="boo">
					teaching assistant
					<span style="font-family:andalemono;font-size:50%;">
						<ul style="list-style-type:square">
							<li>TA for COMP 130: Elements of Algorithms and Computation</li>
							<li>Host weekly tutoring sessions</li>
							<li>Assist students in class</li>
							<li>Grade assignments concerning performance of computer systems, serial and parallel programs, networks, and client-server computing</li>
						</ul>
					 <br> 
					</span>
				</td>
				<td class="boo">
					@ <b>COMP 130</b>
				</td>
			</tr>
			<tr class="boo" style="font-family:andalemono;font-size:200%;">
				<td class="boo">
					assistant publicist
					<span style="font-family:andalemono;font-size:50%;">
						<ul style="list-style-type:square">
							<li>Wrote articles about Rice CS students for the <a href="http://csprofiles.rice.edu/">CS Profiles Blog</a></li>
						</ul>
					 <br> 
					</span>	
				</td>
				<td class="boo">
					@ <b>rice dept of computer science</b>
				</td>
			</tr>
		</table>
	</p>
